<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet"/>
    <link href="/css/styles.css" rel="stylesheet">
</head>

<body>
<header class="main-header">
    <div class="main-header-top-bar">
        <a href="/"><img src="/img/logo-mercado-liebre.svg" class="banner"></a>
        <form id="form search">
            <input type="search" placeholder=" Buscar productos, marcas y más &#128270;" class="search-bar" ><i class="fas fa-search"></i>
        </form>
        <h2 class="copy-header"><i class="fas fa-hand-holding-usd" class="parrafo-centrado"></i> Comprá en cuotas y sin tarjeta de crédito</h2>
    </div>
    
    <nav class="main-navbar">
    <ul class="left-navbar">
        <li><a href="#">Ofertas</a></li>
        <li><a href="#">Tiendas Oficiales</a></li>
        <li><a href="#">Vender</a></li>
        <li><a href="#">Ayuda</a></li>
    </ul>

    <ul class="right-navbar">
        <li><a href="/register">Creá tu cuenta</a> <i class="fas fa-id-card"></i></li>
        <li><a href="/login">Ingresá</a> <i class="fas fa-arrow-circle-right"></i></li>
        <li><a href="#">Mis compras</a> <i class="fas fa-shopping-basket"></i></li>
    </ul>
    </nav>

    <div class="burger-menu">
        <i class="fas fa-bars"></i>
        
    </div>

    
</header>

<section class="main">
        <img src="/img/img-home-banner.jpg">
        <h3>Basado en tu última visita</h3>
    <div class="main-container">
    <article class="display-articulos">
        <img src="/img/img-cafetera-moulinex.jpg">
        <div class="display-descripcion">
        <i class="fas fa-truck"></i>
        <p class="precio">$6.770</p>
        <p class="descuento">40% off</p>
        <h4 class="descripcion">Cafetera Moulinex</h4>
        </div>
    </article> 
    <article class="display-articulos">
        <img src="/img/img-macbook-pro-2019.jpg">
        <div class="display-descripcion">
        <i class="fas fa-truck"></i>
        <p class="precio">$230.000</p>
        <p class="descuento">20% off</p>
        <h4 class="descripcion">Macbook Pro 2019</h4>
    </div>
    </article>
    <article class="display-articulos">
        <img src="/img/img-samsung-galaxy-s10.jpg">
        <div class="display-descripcion">
        <i class="fas fa-truck"></i>
        <p class="precio">$70.500</p>
        <p class="descuento">10% off</p>
        <h4 class="descripcion">Samsung Galaxy s10</h4>
    </div>
    </article>
    <article class="display-articulos">
        <img src="/img/img-tv-samsung-smart.jpg">
        <div class="display-descripcion">
        <i class="fas fa-truck"></i>
        <p class="precio">$23.200</p>
        <p class="descuento">5% off</p>
        <h4 class="descripcion">Smartv Samsung 43"</h4>
    </div>
    </article>
</div>
</section>

<section class="main">
    <h3>Sección de Ofertas</h3>
    <div class="main-container">
    <article class="display-articulos">
        <img src="/img/img-cafetera-moulinex.jpg">
        <div class="display-descripcion">
        <i class="fas fa-truck"></i>
        <p class="precio">$6.770</p>
        <p class="descuento">40% off</p>
        <h4 class="descripcion">Cafetera Moulinex</h4>
    </div>
    </article> 
    <article class="display-articulos">
        <img src="/img/img-macbook-pro-2019.jpg">
        <div class="display-descripcion">
        <i class="fas fa-truck"></i>
        <p class="precio">$230.000</p>
        <p class="descuento">20% off</p>
        <h4 class="descripcion">Macbook Pro 2019</h4>
    </div>
    </article>
    <article class="display-articulos">
        <img src="/img/img-samsung-galaxy-s10.jpg">
        <div class="display-descripcion">
        <i class="fas fa-truck"></i>
        <p class="precio">$70.500</p>
        <p class="descuento">10% off</p>
        <h4 class="descripcion">Samsung Galaxy s10</h4>
    </div>
    </article>
    <article class="display-articulos">
        <img src="/img/img-tv-samsung-smart.jpg">
        <div class="display-descripcion">
        <i class="fas fa-truck"></i>
        <p class="precio">$23.200</p>
        <p class="descuento">5% off</p>
        <h4 class="descripcion">Smartv Samsung 43"</h4>
    </div>
    </article>
</div>
</section> 
<footer class= "divpadre"> 
    <div class="parrafo-centrado">
        <i class="fas fa-credit-card"></i>
        <h4 class="footer-text">Pagá con tarjeta o en efectivo</h4>
        <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
    </div>
    <br>
    <div class="parrafo-centrado">
        <i class="fas fa-gift"></i>
        <h4 class="footer-text">Envío gratis desde $2.500</h4>
        <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
    </div>
    <br>
    <div class="parrafo-centrado">
        <i class="fas fa-user-shield"></i>
        <h4 class="footer-text">Seguridad, de principio a fin</h4>
        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
    </div>
     <div class="copyright">
        <p >Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </div>
</footer>
</body>
</html>