* {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    box-sizing: border-box;
    text-decoration: none;
}

header {
    width: 100%;
    background-color: #EAC926;
    padding: 20px;
    font-weight: 400;
    position: fixed;
    top: 0;
    z-index: 100;
    flex-wrap: nowrap;
}

.main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: lightgray;    
}

.main {
    background-color: lightgray;
    margin-top: 180px;
}


.main-header-top-bar {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.banner {
    width: 30vw;
}

.search-bar {
    display: flex;
    width: 30vw;
    height: 30px;
    font-size: 20px;
    border-radius: 5px;
    border: none;
    display: none;
}

.fa-search {
    background-color: white;
    width: 5vw;
    height: 30px;
    margin-left: 1px;
    padding: 7px;
    border: none;
    border-radius: 5px;
    display: none;
}

.copy-header {
    width: 65vw;
    align-items: center;
    margin-top: 15px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    width: 25vw;
}

img {
    width: 200px;
}

.main-navbar {
    font-weight: bold;
    display: none;
}

.main-navbar ul {
    list-style: none;
}

.main-navbar a {
    color: #222222;
    display: inline-block;
    padding: 5px 0;
}

.create-form {
    background-color: lightgray;
    margin-top: 180px;
    width: 100vw;
    padding: 30px;
    border: 1px solid rgba (0,0,0,0.2);
}

.control-formulario {
    margin-bottom: 30px;
}

.control-formulario label {
    display: block;
    margin-bottom: 15px;
    font-weight: bold;
}

.control {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: none;
    font-weight: bold;
}

.italic {
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
    color: rgb(54, 54, 54);
}

.boton-formulario {
    font-size: 18px;
    font-weight: bold;
    background-color: rgb(134, 189, 207);
    color: white;
    padding: 8px 10px;
    border-radius: 5px;
    border: lightgrey;
}

.boton-formulario:hover {
    background-color: #1259c3;
    color: white;
    padding: 8px 10px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    transition: all 0.5s;
}

.boton-formulario-envio:hover {
    background-color: #0022AA;
}

.burger-menu {
    background-color: #1259c3;
    font-size: 30px;
    text-align: center;
    height: 45px;
    width: 45px;
    border-radius: 5px;
    margin-left: 45%;
    margin-top: 15px;
    align-self: flex-end;
}

.burger-menu i {
    background-color: #1259c3;
    color: white;
    transition: all 0.5s;
}

.burger-menu i:hover {
    transform: rotate(-90deg);
}

.main article {
    text-align: center;
    width: 90%;
    margin: 10px auto;
}

.main img {
    width: 100vw;
}

.display-articulos {
    background-color: lightgrey;
    padding: 5px;
    border: 8px;
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    font-size: 16px;
    max-width: 350px;
    transition: all 1000ms;
}

.display-articulos:hover {
    box-shadow: 0px 0px 10px rgb(20, 20, 20);
}

.display-articulos img {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.display-descripcion {
    background-color: white;
    width: 100%;
    padding: 10px 10px;
    text-align: left;
    border-top: 1px solid #ebebeb;
    display: flex;
    justify-content: flex-start;
    position: relative;
    flex-wrap: wrap;
    transition: all 1000ms;
}

.display-descripcion:hover h4 {
    display: inline;
}
.descripcion{
    display: none;
}
.fa-truck {
    background-color: white;
    height: 30px;
    width: 30px;
    border-radius: 50px;
    color: limegreen;
    border: 1px solid #39b54a;
    position: absolute;
    right: 20px;
    top: -15px;
    padding: 5px;
    transition: all 0.5s;
}

.fa-truck:hover {
    transform: rotate(-90deg);
}

.precio {
    background-color: white;
    font-size: 18px;
    font-weight: bold;
    margin: 0 12px;
    width: 45%;
    padding: 10px;
}

p {
    font-size: 1em;
}

.descuento {
    background-color: white;
    font-size: 16px;
    color: limegreen;
    width: 45%;
    font-weight: bold;
    padding: 10px;
}
.divpadre{
    display: flex;
    align-items: center;
    position: relative;
    flex-direction: row;
}
h3 {
    font-size: 22px;
    text-align: center;
    font-weight: bold;
    color: gray;
}

h4 {
    font-size: 16px;
    font-weight: bold;
    color: gray;
    background-color: white;
    padding: 10px;
    display: none;
}

.parrafo-centrado {
    text-align: center;
    padding: 15px;
    width: 100vw;
    margin: auto;
}

.parrafo-centrado i {
    color: #1259c3;
    font-size: 30px;
}

.fa-credit-card {
    margin-bottom: 10px;
    transition: all 0.5s;
}
.fa-credit-card:hover {
    color: greenyellow;
}

.fa-gift {
    margin-bottom: 10px;
    transition: all 0.5s;
}
.fa-gift:hover{
    color: greenyellow;
}
.fa-user-shield {
    margin-bottom: 10px;
    transition: all 0.5s;
}
.fa-user-shield:hover{
    color: greenyellow;
}
.copyright {
    padding: 15px;
    font-size: 15px;
    display: flex;
    justify-content: center;
    position: absolute;
}


/* MEDIA QUERIES */


@media(min-width: 426px) {
    .create-form {
        margin-top: 230px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
        width: 100vw;
        max-width: 500px;
        padding: 30px;
        border: 5px rgba (10,0,0,0.2);
        border-radius: 15px;
    }
    .copyright{
        padding: 0;
        margin-top: 300px;
    }
    footer {
        display: flex;
        margin-top: 15px;
        flex-wrap: nowrap;
        justify-content: space-around;
        bottom: 0;
    }
    .parrafo-centrado {
        width: 50vw;
    }
    
}

@media(min-width: 769px) {
    .main {
        margin-top: 152px;
    }
    .create-form {
        margin-top: 180px;
    }
    .display-articulos {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    .burger-menu {
        display: none;
    }
    .main-header-top-bar {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .copy-header {
        max-width: 30vw;
        margin: right;
    }
    .main-navbar {
        display: flex;
        justify-content: space-between;
    }
    .main-navbar ul {
        display: flex;
    }
    .main-navbar li {
        margin: 0 5px;
    }
    h4 {
        display: block;
    }
    .display-articulos {
        max-width: 23%;
        flex-grow: 0.25;
    }
    .precio {
        flex-grow: 0.45;
    }
    .descuento {
        flex-grow: 0.45;
    }
    .banner {
        width: 20vw;
    }
    .search-bar {
        display: flex;
        margin: auto;
        width: 30vw;
    }
    p {
        font-size: 1.2em;
    }
    .copyright{
        display: flex;
        padding: 0;
        margin-bottom: -10px;
    }
    footer {
        display: flex;
        margin-top: 15px;
        flex-wrap: nowrap;
        justify-content: space-around;
        bottom: 0;
    }
    .parrafo-centrado {
        width: 50vw;
    }
}

@media(min-width: 1200px) {
    .main-header-top-bar, .main-navbar {
        max-width: 1200px;
        margin: auto;
    }
    .main-header-top-bar {
        align-items: center;
    }
    .create-form {
        margin-top: 230px
    }
    .main-navbar {
        margin-top: 15px;
    }
    .main-navbar li {
        margin: 0 10px;
    }
    .main-navbar a {
        font-size: 19px;
    }
    .banner {
        max-width: 25vw;
    }
    .search-bar {
        margin: auto;
        width: 30vw;
    }
    .copy-header {
        width: 15vw;
        margin: right;
        text-align: right;
        font-size: 17px;
    }
    .display-articulos {
        max-width: 23%;
        flex-grow: 0.25;
    }
    footer {
        display: flex;
        margin-top: 15px;
        flex-wrap: nowrap;
        justify-content: space-around;
        bottom: 0;
    }
    .parrafo-centrado {
        width: 50vw;
    }
    .copyright {
        display: flex;
        margin-top: 300px;
    }
}
@media(min-width: 1700px) {
    .create-form {
        margin-top: 300px;
    }
    .main-header-top-bar, .main-navbar {
        max-width: 1920px;
        margin: auto;
    }
    .main-header-top-bar {
        align-items: center;
    }
    .create-form {
        margin-top: 230px
    }
    .main-navbar {
        margin-top: 15px;
    }
    .main-navbar li {
        margin: 0 10px;
    }
    .main-navbar a {
        font-size: 19px;
    }
    .banner {
        max-width: 25vw;
    }
    .search-bar {
        margin: auto;
        width: 30vw;
        margin-left: 80px;
    }
    .copy-header {
        width: 15vw;
        margin: right;
        text-align: center;
        font-size: 17px;
    }
    footer {
        display: flex;
        margin-top: 15px;
        flex-wrap: nowrap;
        justify-content: space-around;
        bottom: 0;
    }
    .parrafo-centrado {
        width: 50vw;
    }
    .copyright{
        display: flex;
        padding: 0;
        margin-top: 300px;
    }
}
@media(max-width: 426px) {
    footer {
        display: flex;
        margin-top: 15px;
        flex-wrap: nowrap;
        justify-content: space-around;
        bottom: 0;
    }
    .parrafo-centrado {
        width: 50vw;
    }
    .divpadre{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
    .copyright{
        display: flex;
        padding: 0;
        margin-top: 300px;
    }
}